body {
    background-color: black;
    color: bisque;
    text-align: center;
}

ul {
    padding-top: 0.8em;
    padding-left: 0;
    margin: auto;
    width: fit-content;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-position: inside;
    text-align: left;
    padding: 5px;
    min-width: 300px; /* adjust as needed */
    margin: 0 auto; /* center list items */
}

.dragging {
    opacity: 0.5;
    background-color: #eee;
    color: black;
}

.complete{
    background-color: forestgreen;
}